.comic-component h2 {
  color: white;
  margin-top: 10px;
}

.comic-component {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}
