header {
  display: flex;
  flex-direction: column;
  background-color: #202020;
}

header img {
  width: 130px;
  height: 52px;
}

header button {
  color: white;
  background-color: #202020;
  outline: none;
  border: none;
  border-left: solid 1px #393939;
  border-right: solid 1px #393939;
  cursor: pointer;
  padding: 20px;
}

header div {
  display: flex;
  justify-content: space-around;
  border-top: solid 1px #393939;
}

/* #551A6F */
