/* PAGE */
.comics-page {
  color: white;
}

.comics-page img {
  margin: 10px 65px 0;
}

/* CARD */
.comics-page article {
  background: #1a1a1a;
  border-radius: 12px;
  overflow: hidden;
  transition:
    transform 0.3s,
    box-shadow 0.3s;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.comics-page article:hover {
  transform: translateY(-8px) scale(1.03);
  box-shadow:
    0 0 15px #e62429,
    0 0 30px #e62429;
}

/* TITLE */
.comics-page article h2 {
  padding: 10px;
  font-size: 1.2rem;
  color: #e62429;
  text-align: center;
  word-wrap: break-word;
  overflow-wrap: break-word;
  margin: 0 15px;
}

/* DESCRIPTION */
.comics-page article p {
  padding: 0 10px 15px;
  font-size: 16px;
  opacity: 0.8;
  color: white;
  font-family: "Quicksand", sans-serif;
  word-wrap: break-word;
  overflow-wrap: break-word;
  margin: 0 0 0 15px;
  width: 90%;
}

.comics-page article a {
  text-decoration: none;
}
